*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

.container{
    width:100%;
    height:100%;
    background: aliceblue;
}

.banner{
    width:80%;
    height:70%;
    top:10%;
    left: 125px;
    position: absolute;
}

.data{
    top:20%;
    width:80%;
    height:70%;
    left: 125px;
    background: rgba(214, 238, 238, 0.7);
    position: absolute;
}

#RefactorButton{
    background: rgb(255, 0, 0);
    background: rgb(210, 238, 238);
    font-size: 25px;
    font-family: Monaco,serif;
    font-weight: bold;
    letter-spacing: 4px;
    border: 5px solid #c6dede;
    cursor: pointer;
    position: absolute;
    height: 100px;
    top:75px;
    left: 800px;
    transition: 0.2s all;
    display: block;
}

tr {
    border-bottom: 1px solid #000;
    border-top: black;
}

.myChart{
    background: #D6EEEE;
    min-height: inherit;
    width: 100%;
}

th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
}

td:nth-child(even), th:nth-child(even) {
    background-color: #D6EEEE;
}
